name: Run reqres.in

on:
  push:
    branches:
      - main  # Убедитесь, что действия запускаются только для ветки main

jobs:
  run_tests:
    runs-on: ubuntu-22.04

    steps:

      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Setup JDK 17"
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: "Run tests"
        run: mvn clean test
        continue-on-error: true

      - name: "Show test logs"
        run: cat target/surefire-reports/*.txt

      - name: "Generate allure report"
        uses: simple-elf/allure-report-action@master
        id: allure-report
        with:
          allure_results: target/allure-results
          gh_pages: gh-pages
          allure_report: target/allure-report
          allure_history: target/allure-history

      - name: "Create gh-pages branch containing allure report"
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: target/allure-history